<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" /> 
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>
<style>
</style>
</head>
<body>
<!-- home_scrollBox  home_bannerNavWarpObj-->
<div class="find margTopX" id="home_wrapObj"> 
    <p class="p_iphoneX"></p>
	<header class="head margTopX">
        <img id="img_wdhcs" class="Img_search I_down" src="images/room/message.png" alt="">
        <p id="Aload" class="hed_p">
            <a data-t="Afollow" data-d="2" class="a_zhi" href="javascript:void(0)">关注</a>
            <a data-t="Arooms" data-d="1" class="a_zhi active" href="javascript:void(0)">最新</a>
            <a data-t="Avideo" data-d="3" class="a_zhi" href="javascript:void(0)">贡献度</a>
            <a data-t="huoyue" data-d="4" class="a_zhi" href="javascript:void(0)">活跃</a>
        </p>
    </header>
    <div class="divnull"></div>
	<section class="centerWrap" id="home_wrap" style="">
		<div style="position:relative;overflow: hidden;">  
			<div class="banner" style="width:100%;margin:0px auto;">
				<ul class="banner_scroll" id="home_bannerImgObj"> 
				<!-- <ul class="banner_scroll" id="">  -->
					<li data-v="/activity/regnewBonus" data-weburl="" style="transition: all 0s ease; transform: translate3d(0px, 0px, 0px);">
						<a><img src="images/channel/chan_003.png"></a>
					</li>
				</ul>
			</div>
			<!-- <div class="page_scroll" ><p class="page" id="home_bannerNavWarpObj"></p></div> -->
			<!-- <div id="back-white"></div> -->
		</div>
	</section>
	<section id="sec_liveList" class="sec_liv">
		<div class="div_lst">
			<ul>
				<li class="liLive liw18"><img class="w100 rad5" src="images/register/toux.png" alt=""></li>
				<li class="liLive liw65">
                    <p class="liveName">暱稱 <span class="pColo"><i class="iTime"></i>在线</span></p>
                    <p class="pColo hid">10分钟前送出：0</p>
                </li>
                <li class="liLive liw17"><span class="sp_num"><img class="imhNum" src="images/register/zuan.png" alt="">0</span><br/><span class="sygz">已关注</span></li>
			</ul>
		</div>
	</section>
	<section class=""> 
        <p id="fixed_hide" class="fixed_g">我也是有底线的</p>
    </section>
	<div class="home_regnewBonus" id="home_regnewBonus" style="display: none;">
		<div class="div_w80">
			<img style="display: none;" class="but_close img_close" src="images/my/guanbi.png" alt="">
			<img class="img_nam" src="images/my/laba.png" alt="">
			<div class="di_tex">
				<h2>重要通知</h2>
				<div id="guanTitle" class="div_pad">
					<p class="p_title">最新官网：<span>app</span></p>
				</div>
				<div id="lisTxt">
					<p class="p_left">1.大家务必保存<span class="spanNameUser"></span>最新官网，避免出现应用被封或者卸载之后找不到下载地址的情况！</p>
					<p class="p_left">2.大家也可以加入官方 <i id="i_potato">potato</i> 交流群，10万老司机陪你一起开车！</p>
				</div>
			</div>
			<div class="div_but">
				<a class="a_button but_close" href="javascript:void(0)">我知道了</a>
			</div>
		</div>
	</div>
	<section class="sec_userZl homuser">
		<div class="user_zl">
			<ul id="uesrhed" class="overFlex backcol">
				<li class="overlex fsz1"><span class="icspan"></span>在线</li>
				<li class="overlex">
					<img class="imtoux" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpghttp://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
				</li>
				<li data-t="gbuser" class="overlex ovright"><a href="javascript:void(0)"><img style="width: 40px;" src="images/register/gb.png" alt=""></a></li>
			</ul>
			<p id="uesygz" class="p_gzcent center"><span class="guzhu gree ">已关注</span><span class="fr">屏蔽</span></p>
			<div id="uesethre">
				<ul class="overFlex">
					<li class="overlex">用户昵称：</li>
					<li class="overlex ovright"><span id="nickname">杨倩</span><img src="" alt=""></li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">贡献值：</li>
					<li class="overlex ovright">1666</li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">在线时段：</li>
					<li class="overlex ovright">22:00-23:00</li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">城市：</li>
					<li class="overlex ovright">北京</li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">感情状态：</li>
					<li class="overlex ovright">单身</li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">参与直播次数：</li>
					<li class="overlex ovright">166</li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">1V1视频次数：</li>
					<li class="overlex ovright">666</li>
				</ul>
				<ul class="overFlex">
					<li class="overlex">送礼：</li>
					<li class="overlex ovright">50件/1000海珠</li>
				</ul>
			</div>
			<ul class="ulfxid">
				<li data-t="goimlt" class="center w50"><span class="spim"><img class="bor0" src="images/room/bianji.png" alt="">去聊天</span></li>
				<li data-t="gozbsp" class="center w50"><span class="spco"><img class="bor0" src="images/room/shipinbofang.png" alt="">跟Ta视频</span></li>
			</ul>
		</div>
	</section>
	<!-- <section class="sec_userZl homezhi" >
		<div class="user_zl ">
			<p class="p_kqzb center">开启直播</p>
			<p class="p_zbzt"><span>直播主题：</span><input class="homInp" type="text" placeholder="10字以内"></p>
			<p class="p_butt">
				<a data-t="Abutqx" class="Aqx" href="javascript:void(0)"><span class="spqx">取消</span></a>
				<a data-t="Abutkb" class="Akb" href="javascript:void(0)"><span class="spkb">开播</span></a>
			</p>
		</div>
	</section> -->
	<footer class="foozbj" id="foofab">
        <a data-t="gozhibo" href="javascript:void(0)"><img src="images/audio/top.png" alt=""></a>
    </footer>
</div>
</body>
</html>