<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="find margTopX" id="dynamic">
        <p class="p_iphoneX" style="background:#1A1B20"></p>
        <header class="head margTopX" style="background:#1A1B20">
            <p class="center" style="height: 44px;line-height: 44px;color: #fff;font-size: 1.5rem;">我的動態 </p>
            <!-- <img class="w100 hebfb" src="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" alt=""> -->
        </header>
        <div class="diNul" style="height:44px!important;"></div>
        <section class="sec_namic">
            <!-- <div id="sec_cent"></div> -->
            <ul id="sec_cent" class="ul_dyna_list">
                <!-- <li class="w32" data-t="imgDetail">
                    <p class="p_title_ig"><img class="img_zan" src="images/dynamic/dianzan.png" alt=""><span>233K</span></p>
                    <img class="w100" src="images/channel/dynam1.png" alt="">
                    <p class="w100 center p_bot_time">2019/01/08</p>
                </li> -->
            </ul>
            <div class="div_cent_con">
                <img class="img_nul_tu" src="images/dynamic/wei.png" alt="#">
                <p class=""><a id="A_fdt_wez" data-t="Apublish" class="A_dynam center" href="javascript:void(0)">發動態</a></p>
            </div>
            <!-- </div> -->
        </section>
        <section class="sec_foot" style="padding-top: 0;background:#fff;"> 
            <p id="dyna_hide" class="fixed_g">我也是有底线的</p>
        </section>
        <!-- <section class="sec_userZl dynamRemov" >
            <div class="user_zl ">
                <p class="p_kqzb center">確認刪除該動態</p>
                <p class="p_butt">
                    <a data-t="dyquxiao" class="Aqx" href="javascript:void(0)"><span class="spqx">取消</span></a>
                    <a data-t="dyquedin" class="Akb" href="javascript:void(0)"><span class="spkb">確定</span></a>
                </p>
            </div>
        </section> -->
        <footer class="dynafabu" id="foofab">
            <a data-t="Apublish" href="javascript:void(0)"><img src="images/audio/dynam.png" alt=""></a>
        </footer>
        <p style="display: none!important" class="_p"><span class="sp_tim_dy" id="fottimes"></span></p>
    </div>
</body>
</html>