<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="css/find.css">  -->
    <title>home</title>
</head>
<body>
    <div class="bacfff divHead margTopX" id="reflect">
        <p id="misXurl"></p>
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <p><i class="reflFan" id="p_fan"></i><span id="liveType">提現</span></p>
                <a data-t="Atxjl" class="aAbsolute Afff" href="javascript:void(0)"><span style="color: #EB960A;">提現記錄</span></a>
            </div>
        </header>
        <section class="sec_mone">
            <div class="di_linear">
                <img class="w100" src="images/my/bg.jpg" alt="">
                <div class="di_absou">
                    <p><img class="fl iph" src="images/my/shouji.png" alt=""><span id="refl_iphons">手機號</span></p>
                </div>
            </div>
        </section>
        <section class="sec_caifu">
            <div class="div_cf_one reflect_sec">
                <ul class="ul_zs_one">
                    <li class="li_jf">
                        <p class="p_tit_one">當前總積分</p>
                        <b id="Btxjf" class="b_num_one">000</b>
                    </li>
                    <li class="li_jf">
                        <p class="p_tit_one">可用積分</p>
                        <b id="Bzjf" class="b_num_one">0000</b>
                    </li>
                </ul>
            </div>
            <div class="div_reflect_lt">
                <p class="p_refl_tit">一、提現金額 <span id="sp_txsm" class="sp_shuom"><img class="im_refle" src="images/my/yiwen.png" alt="#">提現說明</span></p>
                <div class="">
                    <p class="p_refl_my center" id="p_txjes">提現金額</p>
                    <!-- <p class="p_refl_my center" id="">提現金額</p> -->
                    <p id="p_ktxjfen">(可提現積分<span id="sp_fenshu">000</span>)</p>
                </div>
                <p class="p_refl_tit">二、驗證手機號</p>
                <div class="div_iphone_refl">
                    <p class="molidRefl"><span>手機號：</span><input id="inp_sjh" type="text" maxlength="11" placeholder="請輸入綁定的手機號"></p>
                    <p class="molidRefl"><span>驗證碼：</span><input id="inp_yzm" type="text" placeholder="請輸入驗證碼"><span id="txyan" class="sp_huoq">獲取驗證碼</span></p>
                </div>
                <p class="p_refl_tit">到賬時間說明</p>
                <div class="div_shuom">
                    <p class="p_text_sm">1.當日18:00前提現，當日24:00前到賬</p>
                    <p class="p_text_sm">2.當日18:00後提現，次日24:00前到賬</p>
                </div>
            </div>
        </section>
        <footer class="center moFxed">
            <a data-t="Aqrtix" class="a_gm" href="javascript:void(0)">確認提現</a>
        </footer>
        <section id="goreTxsm" class="sec_userZl" style="display: none;">
            <div class="user_zl">
                <p class="p_kqzb center">提現說明 <img class="gore_img_bg" src="images/activity/gb.png" alt=""></p>
                <div class="div_txsm_text">
                    <p>1、主播当日收益积分，第二天可申请提现；</p>
                    <p>2、可提现积分为当日收益积分  x  当日分成比例；</p>
                    <p>3、积分与金额对应提现比例为100：1（100积分可提现为1元）</p>
                    <p>4、单次提现积分为当前全部可提现积分</p>
                    <p>5、验证的手机号，请务必提供关联支付宝的手机号</p>
                    <p>6、提现记录可查看全部提现的历史信息，如有问题可联系客服</p>
                </div>
            </div>
        </section>

        <!-- <section id="sec_alert_sm">
            <div class="div_alert_text">
                <p>1、主播当日收益积分，第二天可申请提现；</p>
                <p>2、可提现积分为当日收益积分  x  当日分成比例；</p>
                <p>3、积分与金额对应提现比例为100：1（100积分可提现为1元）</p>
                <p>4、单次提现积分为当前全部可提现积分</p>
                <p>5、验证的手机号，请务必提供关联支付宝的手机号</p>
                <p>6、提现记录可查看全部提现的历史信息，如有问题可联系客服</p>
            </div>
        </section> -->
    </div>
</body>
</html>