<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="setup">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="setupFan" id="p_fan"></i>系统设置</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_setup">
            <ul class="ul_set">
                <li data-t="yhxy" class="w100 setflex">
                    <p class="pFl">用户协议</p>
                    <p class="pFl prigh">查看用户协议<i class="iRight"></i></p>
                </li>
                <li data-t="jcgx" class="w100 setflex">
                    <p class="pFl">检查更新</p>
                    <p class="pFl prigh">当前版本<span id="banben">V1.2.3</span><i class="iRight"></i></p>
                </li>
                <li data-t="xttz" class="w100 setflex">
                    <p class="pFl">系统通知</p>
                    <p class="pFl prigh"><span>0</span>条消息<i class="iRight"></i></p>
                </li>
            </ul>
            <p class="center pmtop"><a data-t="Aqhzg" class="Aqiehuan" href="javascript:void(0)">切换账号</a></p>
        </section>
    </div>
</body>
</html>