<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wraNext" id="nextFeeling">
        <header class="head_vid">
            <div class="center">
                <p><i class="feelingFan" id="p_fan"></i>感情状况</p>
                <a data-t="Aqued" class="A_next col65" href="javascript:void(0)">确定</a>
            </div>
        </header>
        <section class="neName">
            <ul class="">
                <li data-t="Li_fee" data-v="保密" class="w100 li_gender li_active">
                    <span>保密</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="单身" class="w100 li_gender">
                    <span>单身</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="求交往" class="w100 li_gender">
                    <span>求交往</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="暗恋中" class="w100 li_gender">
                    <span>暗恋中</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="暧昧中" class="w100 li_gender">
                    <span>暧昧中</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="恋爱中" class="w100 li_gender">
                    <span>恋爱中</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="订婚" class="w100 li_gender">
                    <span>订婚</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="Li_fee" data-v="已婚" class="w100 li_gender">
                    <span>已婚</span>
                    <i class="i_qued"></i>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>