<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="login_zc" id="singin">
        <header class="lig_zc head_reg">
            <div class="zc_title"><p><!-- <i class="login_fans" id="p_fan"></i> -->登录<a class="Azhuce" data-t="Agozc" href="javascript:void(0)">注册</a></p></div>
        </header>
        <section class="sec_zc_content gommdl" style="display: none;">
            <div class="zc_center">
                <ul>
                    <li class="li_inp">
                        <span class="sp_tit">手机号:</span>
                        <input id="login_iphoneObj" class="in_colo" type="text" maxlength="11" placeholder="请输入手机号码">
                    </li>
                    <li class="li_inp">
                        <span  class="sp_tit">验证码:</span>
                        <input id="lgyzm" class="in_colo" type="text" placeholder="请输入验证码">
                        <span id="imeihq" class="s_time">重新获取</span>
                    </li>
                </ul>
                <p class="center pat60"><button id="button_login" class="but_zc">登&nbsp;&nbsp;&nbsp;&nbsp;录</button></p>
            </div>
            <div class="di_fiexd">
                <p class="p_godl"><a data-t="Ammlogin" class="Alogcol" href="javascript:void(0)">密码登录</a></p>
            </div>
        </section>
        <section class="sec_zc_content goyzmdl">
            <div class="zc_center">
                <ul>
                    <li class="li_inp">
                        <span class="sp_tit">手机号:</span>
                        <input id="login_pwdObj" class="in_colo" type="text" maxlength="11" placeholder="请输入手机号码">
                    </li>
                    <li class="li_inp">
                        <span class="sp_tit">密码:</span>
                        <input id="register_pwd" class="in_colo" type="password" min="4" maxlength="6" placeholder="请输入密码">
                        <i class="i_xs"></i>
                    </li>
                    <!-- <li class="li_inp li_hide">
                        <span class="sp_tit">密码:</span>
                        <input class="in_colo" type="text" min="4" maxlength="6" placeholder="请输入密码">
                        <i class="i_yc"></i>
                    </li> -->
                </ul>
                <p class="p_wjmm"><a data-t="Awjpwd" href="javascript:void(0)">忘记密码</a></p>
                <p class="center pat60"><button id="button_pwd" class="but_zc">登&nbsp;&nbsp;&nbsp;&nbsp;录</button></p>
            </div>
            <div class="di_fiexd">
                <p class="p_godl"><a data-t="Alogin" class="Alogcol" href="javascript:void(0)">验证码登录</a></p>
            </div>
        </section>
    </div>
</body>
</html>