<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wraNext margTopX" id="nextAutograph">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="autoFan" id="p_fan"></i>更改签名</p>
                <a data-t="autqued" class="A_next col65" href="javascript:void(0)">确定</a>
            </div>
        </header>
        <section class="neName">
            <div class="div_qm">
                <textarea placeholder="个性签名彰显个性" maxlength="20" id="text_gxqmrz" cols="30" rows="10"></textarea>
                <p class="p_cef">(20字以内)</p>
            </div>
        </section>
    </div>
</body>
</html>