<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="imchat">
        <header class="head_vid" >
            <div class="center">
                <p><i class="imFan" id="p_fan"></i>咸话间</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="chatTyp">
            <ul class="ulhei40">
                <li data-t="lichat" data-d="1" class="w33 li_xi imactiv">消息</li>
                <li data-t="lichat" data-d="2" class="w33 li_xi aftbor ">关注</li>
                <li data-t="lichat" data-d="3" class="w33 li_xi">推荐</li>
            </ul>
        </section>
        <section class="sec_chat xxshow">
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="images/room/log.png" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">系统管理员</b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time">10分钟前</p>
                        <p><span class="numAbsolute">99+</span></p>
                    </li>
                </ul>
            </div>
            <div class="chat_list">
                <ul>
                    <li data-t="liimdeta" data-n="主播261" data-d="261" data-g="images/my/man-1.png" class="verMid w18">
                        <img class="nameImg" src="images/my/man-1.png" alt="">
                    </li>
                    <li data-t="liimdeta" data-n="主播261" data-d="261" data-g="images/my/man-1.png" class="verMid w60">
                        <b class="b_title">主播261<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li data-t="liimdeta" data-n="主播261" data-d="261" data-g="images/my/man-1.png" class="verMid w22">
                        <p class="p_col9B p_time">10分钟前</p>
                        <p><span class="numAbsolute">22</span></p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li data-t="liimdeta" data-n="主播259" data-d="259" data-g="images/my/girl_default.png" class="verMid w18">
                        <img class="nameImg" src="images/my/girl_default.png" alt="">
                    </li>
                    <li data-t="liimdeta" data-n="主播259" data-d="259" data-g="images/my/girl_default.png" class="verMid w60">
                        <b class="b_title">主播259<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li data-t="liimdeta" data-n="主播259" data-d="259" data-g="images/my/girl_default.png" class="verMid w22">
                        <p class="p_col9B p_time">10分钟前</p>
                        <p><span class="numAbsolute">9</span></p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li data-t="liimdeta" data-n="主播260" data-d="260" data-g="images/my/man-1.png" class="verMid w18">
                        <img class="nameImg" src="images/my/man-1.png" alt="">
                    </li>
                    <li data-t="liimdeta" data-n="主播260" data-d="260" data-g="images/my/man-1.png" class="verMid w60">
                        <b class="b_title">主播260<span class="col_zbj">直播间</span><span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li data-t="liimdeta" data-n="主播260" data-d="260" data-g="images/my/man-1.png" class="verMid w22">
                        <p class="p_col9B p_time">10分钟前</p>
                        <p><span class=""></span></p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li data-t="liimdeta" data-n="主播264" data-d="264" data-g="images/my/girl_default.png" class="verMid w18">
                        <img class="nameImg" src="images/my/girl_default.png" alt="">
                    </li>
                    <li data-t="liimdeta" data-n="主播264" data-d="264" data-g="images/my/girl_default.png" class="verMid w60">
                        <b class="b_title">主播264<span class="col_zbj">直播间</span><span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li data-t="liimdeta" data-n="主播264" data-d="264" data-g="images/my/girl_default.png" class="verMid w22">
                        <p class="p_col9B p_time">10分钟前</p>
                        <p><span class=""></span></p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a class="link" href="javascript:void(0)">置顶</a><a class="link" href="javascript:void(0)">屏蔽</a><a class="link" href="javascript:void(0)">删除</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
        </section>
        <!-- 关注 -->
        <section class="sec_chat gzshow">
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">朱宸慧<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove wi50">
                    <p class="p_datA"><a class="Aqxgz" data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">听见浪涛声<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove wi50">
                    <p class="p_datA"><a class="Aqxgz" data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">白皇后<span class="col_zbj">直播间</span><span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove wi50">
                    <p class="p_datA"><a class="Aqxgz" data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list ">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">静宝宝呀<span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove wi50">
                    <p class="p_datA"><a class="Aqxgz" data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
        </section>
        <section class="sec_chat tjshow">
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">朱宸慧<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">听见浪涛声<span class="col_zbj">直播间</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">白皇后<span class="col_zbj">直播间</span><span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
            <div class="chat_list ">
                <ul>
                    <li class="verMid w18"><img class="nameImg" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt=""></li>
                    <li class="verMid w60">
                        <b class="b_title">静宝宝呀<span class="sp_ydy">一对一</span></b>
                        <p class="p_col9B text_hid">发布新的版本了，赶紧去更新吧</p>
                    </li>
                    <li class="verMid w22">
                        <p class="p_col9B p_time"><img class="imzuan" src="images/register/zuan.png" alt="#">9233</p>
                        <p class="p_col9B">在线</p>
                    </li>
                </ul>
                <div class="div_remove">
                    <p class="p_datA"><a data-t="qxgz" href="javascript:void(0)">取消关注</a></p>
                    <p class="center"><i></i></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>