<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="chatdetail">
        <header class="head_vid">
            <div class="center">
                <p><i class="chdetFan" id="p_fan"></i><span id="sp_name">白皇后</span></p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_xxdeta">
            <p class="pTim">2019年5月31日 上午11:11</p>
            <div id="myusers">
                <div class="xxcont user_left">
                    <a class="A_afte" href="javascript:void(0)">
                        <img class="img_chat user_img" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                    </a>
                    <span class="p_content uesr_text">这个是发送的消息内容</span>
                </div>
            <!-- </div> -->
            <!-- <div id="myanchor"> -->
                <div class="xxcont anchor_right">
                    <a class="A_afte" href="javascript:void(0)">
                        <img class="img_chat anchor_img" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                    </a>
                    <span class="p_content anchor_text">这个是发送的消息内容</span>
                </div>
            </div>
        </section>
        <footer class="chat_foofixed">
            <ul>
                <li class="wid11"><img style="width: 24px;" src="images/my/jinyong.png" alt="#"><i></i></li>
                <li class="wid78"><img style="width: 16px;border-radius: 0;" src="images/room/bianji.png" alt="#"><input id="goval" class="inp_sub" type="text"></li>
                <li id="fason" class="wid11 tergih"><img style="width: 24px;" src="images/my/jinyong.png" alt="#"></li>
            </ul>
        </footer>
    </div>
</body>
</html>