<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="divHead" style="height: 100vh;">
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <i class="banner_fan" id="p_fan"></i>
                <!-- <p class="p_code_tit center">
                    <a data-t="a_fenxi" class="A_fff link actCode" href="javascript:void(0)">分享贏豪禮</a>
                </p> -->
                <!-- <img id="code_fen" class="img_fx" src="images/my/Fill1.png" alt=""> -->
            </div>
        </header>
        <iframe style="height: 100%;width: 100%;" id="iframeObj" src="" frameborder="0"></iframe>
    </div>
</body>
</html>