<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="bacfff divHead margTopX" id="detail" style="margin-top: 0;">
        <p id="misXurl"></p>
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <p><i class="proFan" id="p_fan"></i><span id="liveType">推广收益</span></p>
                <a data-t="sydetai" class="aAbsolute Afff" href="javascript:void(0)"><span style="color: #fff;">收益明细</span></a>
            </div>
        </header>
        <section class="sec_mone">
            <div class="di_linear div_url_col">
                <!-- <img class="w100" src="images/my/bg.jpg" alt=""> -->
                <div class="di_absou">
                    <p><span id="sp_zbsy" class="center sp_sy_zb"><img class="img_sy" src="images/room/Pathleft.png" alt="">直播收益</span></p>
                    <p class="center p_txt_sy">我的收益</p>
                    <p class="center p_txt_mony">￥<span id="sp_current"></span></p>
                    <p class="center p_leij_sy">累计收益：￥<span id="sp_total">0.00</span></p>
                </div>
                <!-- <div class="di_sylb center">
                    <p class="p_txt_sy">我的收益</p>
                    <p class="p_txt_mony">￥2266.00</p>
                </div> -->
            </div>
        </section>
        <section class="sec_caifu prom_sysm">
            <div class="div_reflect_lt" style="padding-bottom: 20px;">
                <p class="p_refl_tit">收益说明</p>
                <div class="div_shuom">
                    <p class="p_text_sm">1、收益达到提现标准（根据平台规定）即可提现；</p>
                    <p class="p_text_sm">2、当日收益需次日才能结算。</p>
                </div>
            </div>
            <div class="div_prom_mon">
                <p class="center p_wen_tx">申请提现</p>
                <p class="p_iph_inp"><span class="span">提现金额</span><span id="span_cur" class="span_inp_txje">￥0.00</span> <a data-t="A_jl" class="A_txjla" href="javascript:void(0)">提现记录</a></p>
                <p class="p_iph_inp"><span class="span">手机号</span><input id="inp_mobil" maxlength="11" class="inp" type="text" placeholder="请输入绑定支付宝的手机账号"></p>
                <p class="p_iph_inp"><span class="span">验证码</span><input id="inp_cod" class="input" maxlength="6" min="4" type="text" placeholder="请输入验证码"><span id="span_yam" class="center sp_yzm">获取验证码</span></p>
            </div>
            <div class="div_reflect_lt" style="padding-top:10px;">
                <p class="p_refl_tit">提现说明</p>
                <div class="div_shuom">
                    <p class="p_text_sm">1、请提供绑定支付宝账号的手机号进行验证；</p>
                    <p class="p_text_sm">2、提现申请在18:00以前发起，当日24:00前到账；18:00后发起申请，次日24:00前到账。</p>
                </div>
            </div>
        </section>
        <footer class="center moFxed">
            <a data-t="AtxMony" class="a_gm" href="javascript:void(0)">申请提现</a>
        </footer>
        <section id="goreTxsm" class="sec_userZl" style="display: none;">
            <div class="user_zl">
                <p class="p_kqzb center">提現說明 <img class="gore_img_bg" src="images/activity/gb.png" alt=""></p>
                <div class="div_txsm_text">
                    <p>1、主播当日收益积分，第二天可申请提现；</p>
                    <p>2、可提现积分为当日收益积分  x  当日分成比例；</p>
                    <p>3、积分与金额对应提现比例为100：1（100积分可提现为1元）</p>
                    <p>4、单次提现积分为当前全部可提现积分</p>
                    <p>5、验证的手机号，请务必提供关联支付宝的手机号</p>
                    <p>6、提现记录可查看全部提现的历史信息，如有问题可联系客服</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>