<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="page" id="inquire">
        <header class="head_vid">
            <div class="center">
                <p><i class="inquFan" id="p_fan"></i>財富明細</p>
            </div>
        </header>
        <section class="sec_myfollow sec_inqu">
            <div class="myfol_tit">
                <ul>
                    <li data-t="inquLi" data-l="" class="follow_ti w33 Licen activ"><span>全部</span></li>
                    <li data-t="inquLi" data-l="1VN" class="follow_ti w33 Licen"><span>直播間</span></li>
                    <li data-t="inquLi" data-l="1V1" class="follow_ti w33 Licen"><span>1V1</span></li>
                </ul>
            </div>
            <div class="div_fcbl">
                <ul>
                    <li class="li_bl w40">可提現:<span id="sp_wt_mony" class="sp_my_gr">7250</span></li>
                    <li class="li_bl w60">分成比例:<span id="sp_wt_LV" class="sp_my_LV">1v1 50%</span><span id="sp_wt_VN" class="sp_my_VN">直播間 60%</span></li>
                </ul>
            </div>
            <div class="div_wealth_list">
                <ul class="ul_wtList">
                    <li class="center Li_wtTit LiOverHid">時間</li>
                    <li class="center Li_wtTit LiOverHid">類型</li>
                    <li class="center Li_wtTit LiOverHid">用戶</li>
                    <li class="center Li_wtTit LiOverHid">禮物</li>
                    <li class="center Li_wtTit LiOverHid">獲得財富</li>
                    <li class="center Li_wtTit LiOverHid">可提現</li>
                </ul>
                <div id="divListWeat">
                    <ul class="weaList_ul">
                        <li class="center LiOverHid">時間</li>
                        <li class="center LiOverHid">類型</li>
                        <li class="center LiOverHid">用戶</li>
                        <li class="center LiOverHid">禮物</li>
                        <li class="center LiOverHid">獲得財富</li>
                        <li class="center LiOverHid">可提現</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>