<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="margTopX" id="Invitation">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="incoFan" id="p_fan"></i>收益记录</p>
                <!-- <a class="A_next" data-t="A_sub_sz" href="javascript:void(0)"><span>提交</span></a> -->
            </div>
        </header>
        <section class="sec_incom">
            <div class="div_top_list">
                <!-- <p class="p_tim_xz">
                    <span>日期</span>
                    <a class="a_typ activ" href="javascript:void(0)">今天</a>
                    <a class="a_typ" href="javascript:void(0)">近三天</a>
                    <a class="a_typ" href="javascript:void(0)">近一周</a>
                    <a class="a_typ" href="javascript:void(0)">全部</a>
                </p> -->
                <p class="p_tim_xz">
                    <span class="spa">日期</span>
                    <input id="inputone" data-l="ON" class="center" type="text" readonly="" name="input_date" placeholder="" value="" data-dwro="true">
                    <span>-</span>
                    <input id="inputtwo" data-l="OFF" class="center" type="text" readonly="" name="input_date" placeholder="" value="" data-dwro="true">
                    <a data-t="Axun" class="fr a_chaxun" href="javascript:void(0)">查询</a>
                </p>
            </div>
            <div class="div_botto_lst">
                <ul class="ul_title">
                    <li class="center li_titl">日期</li>
                    <li class="center li_titl">用户类别</li>
                    <li class="center li_titl">用户名</li>
                    <li class="center li_titl">收益</li>
                </ul>
                <div id="incom_lst" class="div_cont_ul">
                    <!-- <ul class="ul_cen_list">
                        <li class="li_contlst">0000/00/00</li>
                        <li class="li_contlst">用户</li>
                        <li class="li_contlst">姓名</li>
                        <li class="li_contlst">0.00</li>
                    </ul> -->
                </div>
            </div>
        </section>
    </div>
</body>
</html>