<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="liveset">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="livestFan" id="p_fan"></i>直播間設置</p>
                <a class="A_next" data-t="A_liv_sz" href="javascript:void(0)"><span>確定</span></a>
            </div>
        </header>
        <section class="secLive">
            <p class="p_liv_tit">在線時段</p>
            <ul class="ul_live_set">
                <li class="w100 li_live_st">
                    <span class="sp_kais">從</span>
                    <!-- <span id="liv_tim" class="fr sp_time">22:00</span> -->
                    <input id="liv_dm1" class="sp_time" type="text" readonly="" value="00:00" name="input_date" placeholder="00:00" />
                    <i class="i_icon"></i>
                </li>
                <li class="w100 li_live_st">
                    <span class="sp_kais">到</span>
                    <!-- <span id="liv_two" class="fr sp_time">22:00</span> -->
                    <input id="liv_dm2" type="text" class="sp_time" readonly="" value="00:00" name="input_date" placeholder="00:00" />
                    <i class="i_icon"></i>
                </li>
            </ul>
            <p class="p_liv_tit">1V1視頻通話設置</p>
            <div class="div_set_jiag">
                <p class="p_li_mon">設置通話價格</p>
                <ul id="ul_mon_list" class="ul_lv_money">
                    <!-- <li class="li_lv_list lv_liv_activ"><span class="span">6金幣/分鐘</span></li> -->
                    <!-- <li class="li_lv_list"><span class="span">12金幣/分鐘</span></li> -->
                    <!-- <li class="li_lv_list"><span class="span">18金幣/分鐘</span></li> -->
                </ul>
            </div>
        </section>
        <!-- <section class="sec_distu seLivset">
            <ul class="ul_dis">
                <li id="Ldisturd" data-t="disturset" class="w100 li_das"><span>在線時段</span></li>
                <li class="w100 li_das">
                    <span>從</span>
                    <span id="Starttim" class="fr sp_time">22:00</span>
                    <input class="sp_time" id="demo1" type="text" readonly="" name="input_date" placeholder="00:00" />
                    <i class="i_icon"></i>
                </li>
                <li class="w100 li_das">
                    <span>到</span>
                    <span id="endtim" class="fr sp_time">05:00</span>
                    <input class="sp_time" id="demoend" type="text" readonly="" name="input_date" placeholder="00:00" />
                    <i class="i_icon"></i>
                </li>
            </ul>
        </section> -->
    </div>
</body>
</html>