<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="fbdetail">
        <header class="head_vid" style="border:0;">
            <div class="center">
                <p><i class="fbdet_fan" id="p_fan"></i>反饋詳情</p>
            </div>
        </header>
        <section class="sec_distu">
            <div class="div_fback">
                <div class="div_fk_cent">
                    <p class="p_fff">反饋內容</p>
                    <div id="fk_cont" class="div_db_sold">看视频经常卡顿，刷新后无法播放。</div>
                    <p class="p_fff">反饋圖片</p>
                    <ul id="ul_img_fkjl">
                        <li class="li_img_fk"><img src="images/register/Add.png" alt=""></li>
                    </ul>
                </div>
                <div class="div_hf_cent">
                    <p class="p_fff">平台回復</p>
                    <div id="hf_cont" class="div_db_sold">平台暫未回復，請耐心等待...</div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>