<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="css/find.css">  -->
    <title>home</title>
</head>
<body>
    <div class="bacfff divHead" id="money">
        <header class="head_vid" style="border:0;">
            <div class="center">
                <p><i class="monFan" id="p_fan"></i><span id="liveType">財富中心</span></p>
                <a data-t="Acfgz" class="aAbsolute Afff" href="javascript:void(0)"><span style="color: #EB960A;">積分規則</span></a>
            </div>
        </header>
        <section class="sec_mone">
            <div class="di_linear">
                <img class="w100" src="images/my/bg.jpg" alt="">
                <div class="di_absou">
                    <p><img class="fl iph" src="images/my/shouji.png" alt=""><span id="sp_iphons">手機號</span></p>
                </div>
            </div>
        </section>
        <section class="sec_caifu">
            <div class="div_cf_one">
                <ul class="ul_zs_one">
                    <li class="li_jf">
                        <p class="p_tit_one">當前總積分</p>
                        <b id="b_ktx" class="b_num_one"></b>
                    </li>
                    <li class="li_jf">
                        <p class="p_tit_one">可用積分</p>
                        <b id="dqMon" class="b_num_one"></b>
                    </li>
                </ul>
            </div>
            <div class="div_cf_two">
                <ul>
                    <li class="li_syjl">收益記錄</li>
                    <!-- <li class="li_qb">全部</li> -->
                    <li class="li_onTim">
                        <input id="inpOntin" data-l="ON" class="center inp_back_time" type="text" readonly="" name="input_date" placeholder="2021/21/10"  value="2021/21/10">&nbsp;-&nbsp;
                    </li>
                    <li class="li_ofTim">
                        <input id="inpOfftin" data-l="OFF" class="center inp_back_time" type="text" readonly="" name="input_date" placeholder="2021/21/10"  value="2021/21/10">
                    </li>
                </ul>
            </div>
            <div class="div_cf_three">
                <p class="p_hdcf">累計獲得積分：<span id="leijcaif">0000</span></p>
            </div>
            <div class="div_cf_four">
                <ul class="ul_tit_fou">
                    <li class="w25 center">日&nbsp;期</li>
                    <li class="w25 center">獲得積分</li>
                    <li class="w25 center">可提現積分</li>
                    <li class="w25 center">明細</li>
                </ul>
                <div id="div_list_jl">
                    <ul class="ul_tex_four">
                        <li class="w25 center">2025/12/15</li>
                        <li class="w25 center">0</li>
                        <li class="w25 center">0000</li>
                        <li class="w25 center li_A_ck">查看</li>
                    </ul>
                </div>
                <!-- <p class="center p_foot_jz">正在加載</p> -->
            </div>
        </section>
        <footer class="center moFxed">
            <a data-t="Agoumai" class="a_gm" href="javascript:void(0)">去提現</a>
        </footer>
        
    </div>
</body>
</html>