<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="mydisturb">
        <header class="head_vid">
            <div class="center">
                <p><i class="mydistFan" id="p_fan"></i>免打扰设置</p>
                <a class="A_next" data-t="A_sub_sz" href="javascript:void(0)"><span>保存</span></a>
            </div>
        </header>
        <section class="sec_distu">
            <ul class="ul_dis">
                <li id="Ldisturd" data-t="disturset" class="w100 li_das"><span>免打擾設置</span><span class="fr spbut s_On">0</span></li>
                <li class="w100 li_das li_hide">
                    <span>從</span>
                    <!-- <span id="Starttim" class="fr sp_time">22:00</span> -->
                    <input class="sp_time" id="demo1" type="text" readonly="" name="input_date" placeholder="00:00" />
                    <i class="i_icon"></i>
                </li>
                <li class="w100 li_das li_hide">
                    <span>到</span>
                    <!-- <span id="endtim" class="fr sp_time">05:00</span> -->
                    <input class="sp_time" id="demoend" type="text" readonly="" name="input_date" placeholder="00:00" />
                    <i class="i_icon"></i>
                </li>
            </ul>
            <p class="md_block">黑名單管理</p>
            <div id="blackmd" class="divRemo">
                <!-- <ul class="ulremove">
                    <li class="li_wi18">
                        <img class="im_wi48" src="http://38.27.103.12/uploads/image/20190604/34c57ba0531a3c01fe9191b97b5c16f9.jpg" alt="#">
                    </li>
                    <li class="li_wi30">
                        <p class="p_name">朱宸慧</p>
                        <p><span class="sp_table">直播間</span></p>
                    </li>
                    <li class="li_wi32">
                        <img class="im_wi22" src="images/room/xin.png" alt="#">
                        <span class="disNum">9256</span>
                    </li>
                    <li class="li_wi20">
                        <img class="im_wi46" src="images/room/log.png" alt="#">
                    </li>
                </ul> -->
            </div>
        </section>
    </div>
</body>
</html>