<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
</head>
<body>
    <div class="bacfff divHead" id="myshar">
        <header class="head_vid" style="border:0;">
            <div class="center">
                <p><i class="shareFan" id="p_fan"></i><span id="liveType">分享</span></p>
                <a data-t="Acfgz" class="aAbsolute Afff" href="javascript:void(0)"></a>
            </div>
        </header>
        <section class="sec_shar">
            <div class="w100 div_url_top">
                <div class="div_center_pos">
                    <p class="p_liveName">娛樂主播：<span>主播</span></p>
                    <p class="p_liveId">搜索ID：<span>ID號</span></p>
                    <div class="div_xz_abs">
                        <p>下載APP</p>
                        <p>現在就撩</p>
                    </div>
                </div>
            </div>
            <div class="div_tex_boot"></div>
        </section>
    </div>
</body>
</html>