<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="rule">
        <header class="head_vid">
            <div class="center">
                <p><i class="ruleFan" id="p_fan"></i>财富规则</p>
                <!-- <a class="A_next" data-t="A_sub_sz" href="javascript:void(0)"><span>提交</span></a> -->
            </div>
        </header>
        <section class="sec_withdr">
            <h3 class="center rule_H3">積分規則</h3>
            <div class="rule_div_pad">
                <p class="rule_p_title">一、直播间主播积分规则</p>
                <p class="rule_p_content">1）用户给主播送礼，主播获得积分收益，积分=礼物价格  x  10；</p>
                <p class="rule_p_content">2）用户单次送礼超过一定比例，主播可获得奖励积分，奖励积分视平台活动而定；</p>
                <p class="rule_p_title">二、1v1视频主播积分规则</p>
                <p class="rule_p_content">1）1v1视频通话，按时长计费获得积分收益，积分=通话价格/分钟  x  通话时长</p>
                <p class="rule_p_content">2）用户给主播送礼，主播获得积分收益，积分=礼物价格  x  10；</p>
                <p class="rule_p_content">3）用户单次送礼超过一定比例，主播可获得奖励积分，奖励积分视平台活动而定；</p>
            </div>
        </section>
    </div>
</body>
</html>