<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="login_bd" id="xgpassword">
        <header class="head_vid" >
            <div class="center">
                <p><i class="xiwordFan" id="p_fan"></i>修改密碼</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span></span></a> -->
            </div>
        </header>
        <section class="sec_xgpwd">
            <div class="div_mima">
                <ul>
                    <li class="w100">
                        <span class="span_lef">手机号：</span>
                        <input id="xgpwdtel" class="inp_pwd" type="text" maxlength="11" placeholder="请输入手机号">
                    </li>
                    <li class="w100">
                        <span class="span_lef">验证码：</span>
                        <input id="xgpwsyzms" class="inp_pwd" type="text" placeholder="请输入验证码">
                        <span id="goxgyzm" class="span_rigt">获取</span>
                    </li>
                    <li class="w100">
                        <span class="span_lef">密码：</span>
                        <input id="xgpasswrds" class="inp_pwd" type="password" maxlength="6" placeholder="新密码">
                    </li>
                </ul>
            </div>
            <div class="center padto10">
                <p class="p_pad_top"><a id="renxgl" class="Abashou" href="javascript:void(0)">确认</a></p>
            </div>
        </section>
        
    </div>
</body>
</html>