<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="nodisturb">
        <header class="head_vid" style="border-bottom: none;background:transparent;">
            <div class="center">
                <p><i class="distFan" id="p_fan"></i><span id="spmynmz"></span></p>
                <a style="color: #fff;" id="ch_img_number" href="javascript:void(0)">1/1</a>
                <!-- <img class="img_fx" src="images/dynamic/Fill 1.png" alt=""> -->
            </div>
        </header>
        <section class="sec_col" > 
            <div style="position:relative;background:#000;">
                <div id="" class="banner" style="width:100%;margin:0px auto;height: 100vh;">
                    <ul class="banner_nodis" id="dists_bannerImgObj">
                        <li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/8986c62b7294405789007d225ce4e1f4.jpg"></a>                    </li><li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/81f66b762d12d0fd1ac86e775d7d6b3b.jpg"></a>                    </li><li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/be59502c0d2a96e5c4b64bb685eeff31.jpg"></a>                    </li><li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/fda9f15147517dfb6d0a28a417290ba5.jpg"></a>                    </li>
                    </ul>
                </div>
                <div class="page_scroll" ><p class="page" id="distu_NavWarpObj"></p></div>
                <div id="back-white"></div>
            </div>
        </section>
        <!-- 关注 -->
    </div>
</body>
</html>