<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy Forget" id="chang">
        <header class="head_set">
            <div class="div_hed"><p><i class="chan_fan" id="p_fan"></i></p></div>
        </header>
        <section class="chan_sec">
            <div class="chan_poss">
                <h2>修改密碼</h2>
                <p class="p_text">Modify the password</p>
            </div>
            <div class="chan_inp">
                <p class="p_h4 p_sol" style="margin-bottom: 10px;">
                    <span class="sp_word">+86</span> 
                    <input id="Xipho" class="in_word" type="number" placeholder="請輸入手機號">
                </p>
                <p class="p_h4 p_mb40">
                    <input id="xiu_mi" class="in_time" type="text"> 
                    <a id="X_ahuo" class="a_time center" href="#">獲取</a>
                </p>
                <p class="p_h4 p_sol p_show">
                    <span class="sp_word">新密碼</span> 
                    <input class="in_word wordVal xiu_wod" type="password" placeholder="請輸入您的新密碼">
                    <img data-t="passWord" src="images/my/login_eye.png" alt="">
                </p>
                <p class="p_h4 p_sol p_hide">
                    <span class="sp_word">新密碼</span> 
                    <input class="in_word textVal xiu_wod" type="text" placeholder="請輸入新密碼">
                    <img data-t="I_text" src="images/my/login_eye.png" alt="">
                </p>
            </div>
            <div class="div_succ center">
                <input class="but_suc" type="button" value="完成">
            </div>
        </section>
    </div>
</body>
</html>