<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="livexgrz">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="xgrzFan" id="p_fan"></i>主播认证</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_xgrz">
            <ul>
                <li class="colorgry w100 center lipad">
                    <a id="ALVLImg" href="javascript:void(0)"><img class="w100" src="images/register/1v1.png" alt=""></a>
                    <p class="p_lihei">认证1v1视频主播</p>
                    <p id="LVL" class="p_acol"><a class="Ayrz" href="javascript:void(0)">已认证</a></p>
                </li>
                <li class="colorgry w100 center">
                    <a id="ALVNImg" href="javascript:void(0)"><img class="w100" src="images/register/zbj.png" alt=""></a>
                    <p class="p_lihei">认证直播间主播</p>
                    <p id="LVN" class="p_acol"><a class="Ayrz Awrz" href="javascript:void(0)">去认证</a></p>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>