<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="divHead" id="mycode">
        <header class="head_vid" style="border:0;">
            <div class="center">
                <i class="feed_fan" id="p_fan"></i>
                <p class="p_code_tit center">
                    <a data-t="a_fenxi" class="A_fff link actCode" href="javascript:void(0)">分享贏豪禮</a>
                    <a id="Abdyqm" data-t="a_bangd" class="A_fff link" href="javascript:void(0)">綁定邀請碼</a>
                </p>
                <img class="img_fx" src="images/my/Fill1.png" alt="">
            </div>
        </header>
        <section class="ces_code_cont center">
            <div class="cod_yqm_one">
                <p class="p_yqm_tex">您的邀請碼為</p>
                <p class="p_yqm_num">
                    <span id="H_thm">YL20251201</span>
                    <input id="fewm" class="inp_abs" type="text" value="YL20251201">
                    <span class="sp_cod_fz">&nbsp;[複製]</span>
                    <button id="Awm" data-clipboard-target="#fewm" aria-label="複製成功！" class="but_code"></button>
                </p>
            </div>
            <div>
                <div id="qrcode"></div>
            </div>
            <div class="div_cod_bc">
                <p class="p_fen_xa">保存二維碼，隨時隨地分享</p>
                <p><a class="A_cod_cun" id="but_img" href="javascript:void(0)">保存二維碼</a></p>
                <!-- <p class="p_fen_xa">保存官網，隨時下載更新的App</p>
                <p><a class="A_cod_cun" href="javascript:void(0)">保存官網</a></p> -->
            </div>
            <div class="div_co_fid">
                <p class="p_fid_tex">分享豪禮</p>
                <p class="p_fid_tex">邀請好友下載App並登錄成功</p>
                <p class="p_fid_tex">增加更多免費觀影次數</p>
                <ul class="ul_wi70">
                    <li class="w100 li_flex aft_solid">
                        <span class="p_text_di">邀請人數</span>
                        <span class="sp_di_lei center">0</span>
                        <span class="sp_di_lei center">1</span>
                        <span class="sp_di_lei center">2</span>
                        <span class="sp_di_lei center">3</span>
                        <span class="sp_di_lei center">4</span>
                        <span class="sp_di_lei center">5</span>
                    </li>
                    <li class="w100 li_flex">
                        <span class="p_text_di">觀影次數</span>
                        <span class="sp_di_lei center">8</span>
                        <span class="sp_di_lei center">10</span>
                        <span class="sp_di_lei center">12</span>
                        <span class="sp_di_lei center">15</span>
                        <span class="sp_di_lei center">18</span>
                        <span class="sp_di_lei center">無限</span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="sec_bdyqm">
            <p class="p_inp_w80"><input id="inYqm" type="text" placeholder="邀請碼"></p>
            <p><a data-t="Abangding" id="but_yqm" class="A_qrbdin" href="javascript:void(0)">確認綁定</a></p>
            <div class="div_foot">
                <p class="p_shuom">綁定說明</p>
                <p class="p_jies">1. 您可以绑定好友分享的邀请码，不可以绑定自己的邀请码</p>
                <p class="p_jies">2. 绑定邀请码后您可以获得更多特权；</p>
                <p class="p_jies">3. 邀请码只能绑定一次。</p>
            </div>
        </section>
        <!-- <header class="head_set">
            <div class="div_hed"><p><i style="top:20px;" class="feed_fan" id="p_fan"></i></p></div>
        </header>
        <section class="sec_code">
            <div class="cod_img">
                <p class="p_tit">掃碼下載</p>
                <div id="qrcode"></div>
                <h3 class="H3_nam" id="H_thm">0ieLl2s8</h3>
                <p class="p_code">您的邀請碼</p>
                <input id="fewm" class="inp_fz" type="text" value="海量爽片每日更新，打开链接 http://free.freeviphotels.com:8269/APK/H5/index.html?id=E7ZKLX-YWN0-5GEQDK立即下载APP，天天爽到爆！">
            </div>
            <div class="div_p center">
                <p>看片前請保存官網，被封後可在官網下載新的APP</p>
                <p></p>
            </div>
            <div class="code_but center">
                <button id="but_img" class="but_bc">保存二維碼</button>
                <button class="but_fz" id="Awm" data-clipboard-target="#fewm" aria-label="複製成功！">分享推廣鏈接</button>
            </div>
            <div id="cod_text">
                <p>邀請1位好友下載APP並登陸成功，每天免費觀看3部；邀請2位好友下載APP並登陸成功，每天免費觀看5部；邀請3位好友下載APP並登陸成功，每天免費觀看10部；推廣4人，看15；推廣5人，看20；推廣6人，不限次。</p>
            </div>
        </section> -->
    </div>
</body>
</html>