<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
</head>
<body>
    <div class="bacfff divHead" id="myshar">
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <p><i class="shareFan" id="p_fan"></i>
                    <a data-t="Ayqzb" data-v="anchor" class="A_yq_tit activv" href="javascript:void(0)">邀请主播</a>
                    <a data-t="Ayqzb" data-v="user" class="A_yq_tit" href="javascript:void(0)">邀请用户</a>
                </p>
                <img id="code_fen_ch" class="img_fx" src="images/my/Fill1.png" alt="">
            </div>
        </header>
        <section class="sec_shar">
            <div class="div_top_pad">
                <p class="p_yqjl"><a data-t="Ayqjl" href="javascript:void(0)">邀请记录<img src="images/room/shareRig.png" alt=""></a></p>
            </div>
            <div id="div_anchor_sh" class="div_wbsm center">
                <p>加入青蛙直播平台</p>
                <p>百万用户在线开聊</p>
            </div>
            <div id="div_user_sh" class="div_wbsm center" style="display: none;">
                <p>青蛙社区</p>
                <p>全网最火的视频直播平台</p>
            </div>
            <div class="div_img_cod center">
                <img id="code_img_typ" class="w100" src="https://img.tfanli004.cn/uploads/share/qrcode/An273165_243.png" alt="">
                <p class="p_anch_use">邀请主播加入</p>
                <p class="p_anch_use">更有高额分成等你来拿</p>
            </div>
            <div class="div_yqm_cod center">
                <p class="p_text_ywm">邀请码</p>
                <p id="p_cod_yq">邀请码</p>
            </div>
            <div class="di_cod_bc center">
                <p><a id="A_baocun" data-t="Abccode" href="javascript:void(0)">保存分享页面</a></p>
                <p>保存二维码随时分享</p>
            </div>
        </section>
    </div>
</body>
</html>