<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="wihdra">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="withFan" id="p_fan"></i>提現記錄</p>
                <!-- <a class="A_next" data-t="A_sub_sz" href="javascript:void(0)"><span>提交</span></a> -->
            </div>
        </header>
        <section class="sec_withdr">
            <ul class="ul_title_with withdr_flex">
                <li data-t="AlistWith" data-l="-1" class="li_withd_flex li_wit_one active"><span class="sp_border">全部</span></li>
                <li data-t="AlistWith" data-l="1" class="li_withd_flex li_wit_one"><span class="sp_border">完成</span></li>
                <li data-t="AlistWith" data-l="0" class="li_withd_flex li_wit_one"><span class="sp_border">申請中</span></li>
                <li data-t="AlistWith" data-l="2" class="li_withd_flex li_wit_one"><span class="">申請失敗</span></li>
            </ul>
            <ul class="withdr_flex ul_type_two">
                <li class="li_withd_flex li_timeTy"><span>日期</span></li>
                <li class="li_withd_flex li_timeTy"><span>类型</span></li>
                <li class="li_withd_flex li_timeTy"><span>提現金额</span></li>
                <li class="li_withd_flex li_timeTy"><span>狀態</span></li>
            </ul>
            <div id="witlistd">
                <ul class="withdr_flex ul_witd_list">
                    <!-- <li class="li_withd_flex li_list_fled"><span class="sqsb">2025/12/15</span></li>
                    <li class="li_withd_flex li_list_fled"><span class="ywc">202</span></li>
                    <li class="li_withd_flex li_list_fled"><span class="sqz">申請中</span></li> -->
                </ul>
            </div>
        </section>
    </div>
</body>
</html>