<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wraNext margTopX" id="nextName">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="nameFan" id="p_fan"></i>我的昵称</p>
                <a data-t="Aqued" class="A_next col65" href="javascript:void(0)">确定</a>
            </div>
        </header>
        <section class="neName">
            <div class="div_nc">
                <p class="p_c000">昵称：<input id="inp_name" type="text" placeholder="请输入您的昵称" minlength="4" maxlength="16"></p>
                <p class="p_cef">(4-16个字符，支持中英文、数字)</p>
            </div>
        </section>
    </div>
</body>
</html>