<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="userdetails">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="useFan" id="p_fan"></i><span id="spmynmz">全部高</span></p>
                <img id="img_fxpyq" class="img_fx" src="images/dynamic/Fill 1.png" alt="">
            </div>
        </header>
        <section class="sec_namic sec_tails">
            <div id="livedynam" class="div_namic">
                <!-- <div class="p_user">
                    <a data-t="user_detail" class="link w86" href="javascript:void(0)">
                        <img class="img_user fl" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        <p class="p_font">杨倩<i class="i_gender"></i><span class="sp_font">10分钟前</span></p>
                        <p class="p_lx">Simple，so charming.</p>
                    </a>
                    <a class="link w12" href="javascript:void(0)">+关注</a>
                </div>
                <div><p class="texCent">想单枪匹马去闯荡江湖看看这五彩斑斓的世界</p></div>
                <video style="display: none;" id="dy_video"  class="" poster="http://cont.vf4hh.com:9001/uploads/class/20190221/fdef1bca0b298b517d0e098511f0b863.jpg" controls="true"  src="http://www.w3school.com.cn/i/movie.ogg"></video>
                <ul class="ul_img">
                    <li class="w49">
                        <img class="w100" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2834069625,3974548732&fm=26&gp=0.jpg" alt="">
                    </li>
                    <li class="w49">
                        <img class="w100" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=235574862,2124449669&fm=26&gp=0.jpg" alt="">
                    </li>
                </ul>
                <p class="center">
                    <a href="javascript:void(0)"><img class="img_pad" src="images/dynamic/dz.png" alt=""></a><br/>
                    <span class="col_num">236</span>
                </p> -->
            </div>
            <div id="plunList" class="div_after pl_cent">
                <p class="p_zxpl"><img class="mar10" src="images/dynamic/pinglun.png" alt="">最新评论&nbsp;&nbsp;(0)</p>
                <div class="div_after pl_list">
                    <!-- <ul>
                        <li class="w100 div_namic">
                            <a class="link w49 names" href="javascript:void(0)">
                                <img class="img_user fl" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                                <p class="p_font">杨倩</p>
                                <p class="p_lx">今天</p>
                            </a>
                            <a class="link w49 numbers" href="javascript:void(0)"><img src="images/dynamic/zans.png" alt=""><span class="page">150</span></a>
                        </li>
                    </ul>
                    <p class="w70">我把你当爹，你却想上我，禽兽...</p> -->
                </div>
            </div>
        </section>
        <!-- <footer class="user_fixed">
            <div>
                <ul>
                    <li class="li_W13"><a href="javascript:void(0)"><img id="user_img" src="images/dynamic/Bitmap.png" alt=""></a></li>
                    <li class="li_W74">
                        <p class="p_heig">
                           <img class="wi14" src="images/room/bianji.png" alt="">
                           <input id="inplun" type="text" name="search">
                       </p>
                    </li>
                    <li data-t="reply" class="li_W13 te_rig"><a href="javascript:void(0)"><img id="img_shouc" class="wi23" src="images/room/wu.png" alt=""></a></li>
                </ul>
            </div>
        </footer> -->
        <!-- 关注 -->
    </div>
</body>
</html>