<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="bacfff divHead" id="Accout">
        <header class="head_vid" style="border:0;">
            <div class="center" style="background: url(images/my/urls.png);background-size: cover;">
                <p><i class="account_fan" id="p_fan"></i><span id="liveType">個人信息</span></p>
                <!-- <a class="aAbsolute Afff" href="javascript:void(0)"><span>记录</span/></a> -->
            </div>
        </header>
        <section class="sec_mone">
            <div class="bor_none">
                <img class="w100 radius" src="images/my/urls.png" alt="">
                <div id="div_uesr_tou" class="center div_header">
                    <a data-t="A_img_tou" href="javascript:void(0)"><img class="img_nam" src="images/register/toux.png" alt=""></a>
                    <p class="p_iphone">
                        <!-- <a class="colgry A_iphone_no" href="javascript:void(0)"><img class="img_iphon" src="images/my/shouji.png" alt="">未綁定手機號</a> -->
                        <a class="colgry A_iphone_yes" href="javascript:void(0)"><img class="img_iphon" src="images/my/shouji.png" alt="">手機號</a>
                    </p>
                    <!-- <p class="p_iphone_hide"><a data-t="bdiphone" href="javascript:void(0)">去綁定</a></p> -->
                    <p class="p_iphone_show"><a data-t="bdiphone" href="javascript:void(0)">修改</a></p>
                </div>
            </div>
        </section>
        <section style="padding-bottom: 40px;">
            <div class="div_geren">
                <p class="p_title">個人資料</p>
                <ul class="ul_zl_list">
                    <li data-t="Ac_name" class="li_grzl">
                        <span class="span_name">暱稱</span>
                        <span class="fr sp_col_gray"><span id="sp_user_nick">暱稱</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_gxqm" class="li_grzl">
                        <span class="span_name">個性簽名</span>
                        <span id="sp_li_gxqm" class="fr sp_col_gray"><span id="sp_user_qm"></span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li class="li_grzl">
                        <span class="span_name">註冊時間</span>
                        <span id="span_time" class="fr sp_col_gray">2019/12/12</span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li class="li_grzl">
                        <span class="span_name">用戶ID</span>
                        <span id="span_us_id" class="fr sp_col_gray">YL20191162</span>
                    </li>
                </ul>
            </div>
            <div class="div_geren">
                <p class="p_title">個人信息</p>
                <ul class="ul_zl_list">
                    <li data-t="Ac_xb" class="li_grzl">
                        <span class="span_name">性別</span>
                        <span class="fr sp_col_gray"><span id="span_sex">女</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_szd" class="li_grzl">
                        <span class="span_name">所在地</span>
                        <span class="fr sp_col_gray"><input id="demo4" data-l="2" type="text" readonly="" placeholder="北京" /><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_xqah" class="li_grzl">
                        <span class="span_name">興趣愛好</span>
                        <span class="fr sp_col_gray"><span id="span_xqah">暫未填寫</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_sr" class="li_grzl">
                        <span class="span_name">生日</span>
                        <span class="fr sp_col_gray"><input data-l="2" type="text" name="USER_RI" id="USER_RI" readonly class="input" placeholder="2012/02/05" /><i class="i_icon_right"></i></span>
                    </li>
                </ul>
                <ul class="ul_zl_list">
                    <li data-t="Ac_gqzk" class="li_grzl">
                        <span class="span_name">感情狀況</span>
                        <span class="fr sp_col_gray"><span id="span_gqkz_s">挂糊</span><i class="i_icon_right"></i></span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="sec_userZl Acctourzzl" >
            <div class="user_zl ">
                <p class="p_kqzb center">溫馨提示</p>
                <p id="renconten" class="ptsrz">修改頭像需重新提交認證資料</p>
                <p id="pweirzen" class="p_butt">
                    <a data-t="Aqxxg" class="Aqx" href="javascript:void(0)"><span style="padding:6px 43px;" class="spqx">取消</span></a>
                    <a data-t="Aqrxg" class="Akb" href="javascript:void(0)"><span class="spkb">確認修改</span></a>
                </p>
            </div>
        </section>
    </div>
</body>
</html>