<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="detail">
        <header class="head_set">
            <div class="div_hed"><p><i class="deta_fan" id="p_fan"></i>公告詳情</p></div>
        </header>
        <section class="sec_deta">
            <div class="div_title">
                <p id="pTitle" class="center">無法播放下載</p>
            </div>
            <div id="diCenter" class="div_center">
              <!--   <p>尊敬的用户您好：</p>
              <p>如果您在使用的时候遇到无法播放、下载等情况，请按以下步骤操作：</p>
              <p>1.查看自己的观影次数是否为0，如果为0请点击首页或者视频页幻灯图，每天可以获得一次观影次数，或者点击推广，成功邀请用户，既会按照推广规则给您增加对应的观影次数</p>
              <p>2.点击我的-左上角设置按钮查看是否为最新版本，如果不是请前往 <a href="#">www.xy3.app</a>下载最新版本</p>
              <p>3.杀掉黄瓜视频APP进程，重新启动播放</p>
              <p>4.切换网络环境(4G、wifi)</p>
              <p>5.重启一下手机，再次启动app观看</p>
              <p>如果以上方法都无法播放，请加入<a id="A_potato" href="#">potato群@hgav0</a>,联系管理员</p> -->
            </div>
        </section>
    </div>
</body>
</html>