<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="exten">
        <header class="head_set">
            <div class="div_hed"><p><i class="extsi_fan" id="p_fan"></i>邀請好友獲取會員 <!-- <span class="sp_right">我的推廣</span> --></p></div>
        </header>
        <div class="information">
            <div class="inf_url">
                <div class="div_wid">
                    <div id="im_yq" class="di_img">
                        <img class="im_code" src="images/xiazai.png" alt="">
                        <p class="p_yao">我的邀請碼:rF5Ad8ux</p>
                    </div>
                </div>
            </div>
            <div class="div_text">
                <!-- <h4 class="h4_col">好友推薦禮！分享推廣鏈接拿福利！！</h4> -->
                <div class="di_txt">
                    <img class="fl" src="images/my/iem.png" alt="">
                    <p class="p_lef">邀請3位好友下載APP并登陸成功，免費觀看30天！</p>
                </div>
                <div class="di_txt">
                    <img class="fl" src="images/my/iem.png" alt="">
                    <p class="p_lef">若邀請好友下載成功后，您沒有獲得觀看時間，請聯係客服</p>
                </div>
                <div class="di_txt">
                    <img class="fl" src="images/my/iem.png" alt="">
                    <p class="p_lef">如有疑問，請聯係客服</p>
                </div>
                <!-- <div class="di_txt">
                    <img class="fl" src="images/my/iem.png" alt="">
                    <p class="p_lef">鑽石獲取：截圖分享二維碼或點擊分享鏈接給好友，好友（新用戶）下載APP并登陸成功且會員充值后，您將獲得好友（新用戶）充值金額30%鑽石獎勵，此獎勵機制可累積，上不封頂。（鑽石可用於兌換VIP，也可提現，提現請加客服支付寶）</p>
                </div> -->
            </div>
            <footer class="foot_fid">
                <button class="but_kf">聯繫客服</button><button class="but_tg">立即推廣</button>
            </footer>
        </div>
    </div>
</body>
</html>