<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="css/find.css">  -->
    <title>home</title>
</head>
<body>
    <div class="bacfff divHead" id="reflect">
        <header class="head_vid" style="border:0;">
            <div class="center">
                <p><i class="reflFan" id="p_fan"></i><span id="liveType">提現</span></p>
                <a data-t="Atxjl" class="aAbsolute Afff" href="javascript:void(0)"><span style="color: #EB960A;">提現記錄</span></a>
            </div>
        </header>
        <section class="sec_mone">
            <div class="di_linear">
                <img class="w100" src="images/my/bg.jpg" alt="">
                <div class="di_absou">
                    <p><img class="fl iph" src="images/my/shouji.png" alt=""><span id="refl_iphons">15465674451</span></p>
                </div>
            </div>
        </section>
        <section class="sec_caifu">
            <div class="div_cf_one reflect_sec">
                <ul class="ul_zs_one">
                    <li class="li_jf">
                        <p class="p_tit_one">當前總積分</p>
                        <b id="Btxjf" class="b_num_one">4656</b>
                    </li>
                    <li class="li_jf">
                        <p class="p_tit_one">可提現積分</p>
                        <b id="Bzjf" class="b_num_one">6454654</b>
                    </li>
                </ul>
            </div>
            <div class="div_reflect_lt">
                <p class="p_refl_tit">一、提現金額 <span class="sp_shuom"><img class="im_refle" src="images/my/yiwen.png" alt="#">提現說明</span></p>
                <div class="">
                    <p class="p_refl_my center" id="p_txjes">提現金額</p>
                </div>
                <p class="p_refl_tit">一、驗證手機號</p>
                <div class="div_iphone_refl">
                    <p class="molidRefl"><span>手機號：</span><input id="inp_sjh" type="text" maxlength="11" placeholder="請輸入綁定的手機號"></p>
                    <p class="molidRefl"><span>驗證碼：</span><input id="inp_yzm" type="text" placeholder="請輸入驗證碼"><span id="txyan" class="sp_huoq">獲取驗證碼</span></p>
                </div>
                <p class="p_refl_tit">到賬時間說明</p>
                <div class="div_shuom">
                    <p class="p_text_sm">1.當日18:00前提現，當日24:00前到賬</p>
                    <p class="p_text_sm">2.當日18:00後提現，次日24:00前到賬</p>
                </div>
            </div>
        </section>
        <footer class="center moFxed">
            <a data-t="Aqrtix" class="a_gm" href="javascript:void(0)">確認提現</a>
        </footer>
        
    </div>
</body>
</html>