<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="" id="myfollow">
        <header class="head_vid">
            <div class="center">
                <p><i class="myfollFan" id="p_fan"></i>我的关注</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_myfollow">
            <div class="myfol_tit">
                <ul>
                    <li data-t="lVlLive" data-l="lVN" class="follow_ti w50 center activ"><span>粉丝</span></li>
                    <li data-t="lVlLive" data-l="lvl" class="follow_ti w50 center"><span>关注</span></li>
                </ul>
            </div>
            <div id="div_fens" class="div_live sec_liv">
                <!-- <div class="div_lst">
                    <ul>
                        <li class="liLive liw18">
                            <img class="w100 rad5" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        </li>
                        <li class="liLive liw65">
                            <p class="liveName">朱宸慧</p>
                            <p class="pColo">个性签名</p>
                            <p class="pColo hid">最近上线时间：10分钟前</p>
                        </li>
                        <li class="liLive liw17"><span class="sgz">+关注</span></li>
                    </ul>
                </div> -->
            </div>
            <div id="div_folltxh" class="livegz sec_liv" style="display: none;">
                <!-- <div class="div_lst">
                    <ul>
                        <li class="liLive liw18">
                            <img class="w100 rad5" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        </li>
                        <li class="liLive liw65">
                            <p class="liveName">朱宸慧</p>
                            <p class="pColo">注册 2019/12/12</p>
                            <p class="pColo hid">最近上线时间：10分钟前</p>
                        </li>
                        <li class="liLive liw17"><span class="sgz sygz">已关注</span></li>
                    </ul>
                </div> -->
            </div>
        </section>
    </div>
</body>
</html>