<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="Invitation">
        <header class="head_set">
            <div class="div_hed"><p><i class="invit_fan" id="p_fan"></i>好友推薦禮</p></div>
        </header>
        <section class="Invit_code">
            <div id="di_show" class="center">
                <p class="inv_p">
                    <input id="inYqm" class="font16" type="text" placeholder="請輸入推薦人邀請碼">
                </p>
                <p class="inv_p in_top"><button id="but_yqm" class="font16">確認提交</button></p>
                <p style="display: none;">邀請1位好友下載APP並登陸成功，每天免費觀看3部；邀請2位好友下載APP並登陸成功，每天免費觀看5部；邀請3位好友下載APP並登陸成功，每天免費觀看10部；推廣4人，看15；推廣5人，看20；推廣6人，不限次。</p>
            </div> 
            <div id="di_hide" class="center">
                <p class="inv_p">
                    <input id="disab" class="font16" type="text" disabled="disabled" value="推薦人邀請碼">
                </p>
                <p class="inv_p in_top"><button id="" class="font16">您已填寫</button></p>
            </div> 
        </section>
    </div>
</body>
</html>