<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
</head>
<body>
    <div class="bacfff divHead" id="myshar">
        <header class="head_vid margTopX" style="border:0;">
            <div class="center">
                <p><i class="shareFan" id="p_fan"></i><span id="liveType">分享</span></p>
                <img id="code_fen_ch" class="img_fx" src="images/my/Fill1.png" alt="">
            </div>
        </header>
        <section class="sec_shar">
            <div class="w100 div_url_top">
                <div class="div_center_pos">
                    <p class="p_liveName">娛樂主播：<span>主播</span></p>
                    <p class="p_liveId">搜索ID：<span class="chan_id_my">ID號</span></p>
                    <div class="div_xz_abs center">
                        <p class="p_fon15">下載APP</p>
                        <p class="p_fon13">現在就撩</p>
                    </div>
                </div>
            </div>
            <div class="div_tex_boot">
                <ul>
                    <li class="liCode w40">
                        <div id="fxcode"></div>
                        <p class="p_myId">我的ID: <span class="chan_id_my">ID</span></p>
                        <input id="inp_chao" type="text" value=''>
                        <button id="butCodeFz" data-clipboard-target="#inp_chao" aria-label="複製成功！" class="but_fz_code">[複製]</button>
                    </li>
                    <li class="liCode w60">
                        <p id="bccode" class="p_baocun center Ptop">保存頁面</p>
                        <p class="p_cont_bc">保存分享頁面，隨時隨地分享</p>
                        <p class="p_baocun center Pbot">保存官網</p>
                        <p class="p_cont_bc">保存官网，随时下载更新的App</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>