<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wrapper wraNext" id="nextHobby">
        <header class="head_vid">
            <div class="center">
                <p><i class="hobFan" id="p_fan"></i>兴趣爱好</p>
                <a data-t="hobqued" class="A_next col65" href="javascript:void(0)">确定</a>
            </div>
        </header>
        <section class="neName">
            <ul id="hadLab" class="ul_pad10">
                <li data-t="li_xqah" data-v="漂亮" class="li_bq "><span class="sp_bq">漂亮</span></li>
                <!-- <li data-t="li_xqah" data-v="性感" class="li_bq"><span class="sp_bq">性感</span></li>
                <li data-t="li_xqah" data-v="火辣" class="li_bq"><span class="sp_bq">火辣</span></li>
                <li data-t="li_xqah" data-v="骚想干" class="li_bq"><span class="sp_bq">骚想干</span></li>
                <li data-t="li_xqah" data-v="多才多艺" class="li_bq"><span class="sp_bq">多才多艺</span></li>
                <li data-t="li_xqah" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                <li data-t="li_xqah" data-v="快乐水" class="li_bq"><span class="sp_bq">快乐水</span></li>
                <li data-t="li_xqah" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                <li data-t="li_xqah" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                <li data-t="li_xqah" data-v="骚想干" class="li_bq"><span class="sp_bq">骚想干</span></li>
                <li data-t="li_xqah" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                <li data-t="li_xqah" data-v="快乐水" class="li_bq"><span class="sp_bq">快乐水</span></li>
                <li data-t="li_xqah" data-v="骚想干" class="li_bq"><span class="sp_bq">骚想干</span></li>
                <li data-t="li_xqah" data-v="多才多艺" class="li_bq"><span class="sp_bq">多才多艺</span></li>
                <li data-t="li_xqah" data-v="可爱" class="li_bq"><span class="sp_bq">可爱</span></li> -->
            </ul>
            <!-- <p class="p_qtcont">其他：<input id="in_xqah" type="text" maxlength="5"><span>5个字以内</span></p> -->
        </section>
    </div>
</body>
</html>