<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wraNext" id="nextGender">
        <header class="head_vid">
            <div class="center">
                <p><i class="genFan" id="p_fan"></i>性别</p>
                <a data-t="xbqued" class="A_next col65" href="javascript:void(0)">确定</a>
            </div>
        </header>
        <section class="neName">
            <ul class="">
                <li data-t="li_xzxb" data-x="男" class="w100 li_gender">
                    <span>男</span>
                    <i class="i_qued"></i>
                </li>
                <li data-t="li_xzxb" data-x="女" class="w100 li_gender li_active">
                    <span>女</span>
                    <i class="i_qued"></i>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>