<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wraNext" id="nextportrait">
        <header class="head_vid">
            <div class="center">
                <p><i class="portraitFan" id="p_fan"></i>选择头像</p>
                <!-- <a data-t="Asub" class="A_next" href="javascript:void(0)">提交</a> -->
            </div>
        </header>
        <section class="sec_port">
            <ul>
                <li id="LiCrop" class="porti_li center">
                        <img class="img_xj" src="images/register/zxj.png" alt="">
                        <input id="filetg" class="rz_file" type="file" accept="image/*" />
                </li>
                <li class="porti_li center">
                    <img id="show" class="img_w10" src="images/my/video.png" alt="">
                </li>
            </ul>
            <div id="portrCrop" style="width:200px;height:200px;border:1px solid #ccc;overflow:hidden;display: none;margin:0 auto;">
                <img id="img_w100" style="width:auto;height: auto;" src="images/register/toux.png" alt="">
            </div>
            <p id="saveportra" style="margin-top: 4px;font-size: 15px;color: #657786;font-weight: 600;text-align: center;display: none;height: 40px;line-height: 40px;">保存</p>
        </section>
    </div>
</body>
</html>