<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wrapper" id="zbrztwo">
        <header class="head_vid">
            <div class="center">
                <p><i class="twoFan" id="p_fan"></i>主播认证</p>
                <a data-t="gothree" class="A_next" href="javascript:void(0)">下一步</a>
            </div>
        </header>
        <section class="sec_zbrz">
            <div class="div_renz">
                <h3 class="H3_bu">简单三步完成认证:</h3>
                <ul>
                    <li class="w42">
                        <p class="lef_7"><span class="rz_span">1</span><img class="im_one_tex" src="images/register/next.png" alt=""></p>
                        <p class="zl_text">个人信息</p>
                    </li>
                    <li class="w42">
                        <p class="lef_7"><span class="rz_span bacC8">2</span><img class="im_one_tex" src="images/register/next.png" alt=""></p>
                        <p class="zl_text colC8">认证类型</p>
                    </li>
                    <li class="w16">
                        <p><span class="rz_span">3</span></p>
                        <p class="zl_text">审核材料</p>
                    </li>
                </ul>
            </div>
            <p class="p_clea"></p>
            <div class="rz_cont">
                <h3 class="H3_bu">选择认证类型<span class="sp_next">(2选1)</span></h3>
                <ul id="filter" class="ul_pad10">
                    <li id="im_LVL" data-v="1V1" data-t="ligrayImg" class="w49 center ">
                        <img  class="im_w1 grayImg" src="images/register/1v1.png" alt="">
                        <p class="p_9B">认证1V1视频主播</p>
                    </li>
                    <li id="im_LVN" data-v="1VN" data-t="ligrayImg" class="w49 center ">
                        <img  class="im_w1 grayImg" src="images/register/zbj.png" alt="">
                        <p class="p_9B">认证直播间主播</p>
                    </li>
                </ul>
            </div>
            <div class="rz_cont">
                <h3 class="H3_bu">认证标签<span class="sp_next">(最多选3个)</span></h3>
                <ul id="ul_rzbq" class="ul_pad10">
                    <li data-t="two_bq" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                    <!-- <li data-t="two_bq" data-v="性感" class="li_bq"><span class="sp_bq">性感</span></li>
                    <li data-t="two_bq" data-v="火辣" class="li_bq"><span class="sp_bq">火辣</span></li>
                    <li data-t="two_bq" data-v="骚想干" class="li_bq"><span class="sp_bq">骚想干</span></li>
                    <li data-t="two_bq" data-v="多才多艺" class="li_bq"><span class="sp_bq">多才多艺</span></li>
                    <li data-t="two_bq" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                    <li data-t="two_bq" data-v="快乐水" class="li_bq"><span class="sp_bq">快乐水</span></li>
                    <li data-t="two_bq" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                    <li data-t="two_bq" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                    <li data-t="two_bq" data-v="骚想干" class="li_bq"><span class="sp_bq">骚想干</span></li>
                    <li data-t="two_bq" data-v="漂亮" class="li_bq"><span class="sp_bq">漂亮</span></li>
                    <li data-t="two_bq" data-v="快乐水" class="li_bq"><span class="sp_bq">快乐水</span></li>
                    <li data-t="two_bq" data-v="骚想干" class="li_bq"><span class="sp_bq">骚想干</span></li>
                    <li data-t="two_bq" data-v="多才多艺" class="li_bq"><span class="sp_bq">多才多艺</span></li>
                    <li data-t="two_bq" data-v="可爱" class="li_bq"><span class="sp_bq">可爱</span></li> -->
                </ul>
            </div>
            <p style="display: none!important;"><span id="vid_sp_none"></span></p>
        </section>        
    </div>
</body>
</html>