<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="login_zc" id="register">
        <header class="head_reg">
            <div class="zc_title"><p>手机注册</p></div>
            <!-- <div class="zc_title"><p><i class="zczb_fans" id="p_fan"></i>手机注册</p></div> -->
        </header>
        <section class="sec_zc_content">
            <div class="zc_center">
                <ul>
                    <li class="li_inp">
                        <span class="sp_tit">手机号:</span>
                        <input id="login_userNameObj" class="in_colo" type="text" maxlength="11" placeholder="请输入手机号码">
                    </li>
                    <li class="li_inp">
                        <span class="sp_tit">密码:</span>
                        <input id="register_smsCode" class="in_colo" type="password" min="4" maxlength="6" placeholder="请输入密码">
                        <i class="i_xs"></i>
                    </li>
                    <!-- <li class="li_inp li_hide">
                        <span class="sp_tit">密码:</span>
                        <input class="in_colo" type="text" min="4" maxlength="6" placeholder="请输入密码">
                        <i class="i_yc"></i>
                    </li> -->
                    <li class="li_inp">
                        <span  class="sp_tit">验证码:</span>
                        <input id="yzm" class="in_colo" type="text" placeholder="请输入验证码">
                        <span id="imei" class="s_time">重新获取</span>
                    </li>
                </ul>
                <p class="center"><button id="button_zczb" class="but_zc">注&nbsp;&nbsp;&nbsp;&nbsp;册</button></p>
            </div>
            <div class="di_fiexd">
                <p class="p_godl"><a data-t="Alogin" class="A_singi" href="javascript:void(0)">已有账号,去登录</a></p>
                <p class="p_yhxy"><i id="i_acit" class="i_Noe i_Off"></i><span class="spgoyhxy">注册即代表同意鱼乐平台</span><span class="s_col spgoyhxy">用户协议</span></p>
            </div>
        </section>
        <!-- <section class="offli_sec">
            <div class="div_back">
                <img src="images/my/login_welcome.png" alt="">
            </div>
            <div class="div_cen">
                <div class="div_portrait center">
                    <img src="images/my/ic_head_s.png" alt="">
                </div>
                <div class="d_inp div_zh">
                    <p class="p_word"><span class="sp_000">+86</span><input class="login_user" type="text" placeholder="請輸入您的手機號"></p>
                </div>
                <div class="d_inp div_yhm">
                   <p class="p_word"><span class="sp_000">用戶名</span><input type="text" placeholder="請輸入您的用戶名"></p>
               </div>
                <div class="d_inp div_mm">
                    <p class="p_word">
                        <span class="sp_000">密碼</span><input class="in_pwd" type="password" placeholder="請輸入您的密碼"> 
                        <img data-t="paswo" class="img_show" src="images/my/login_eye.png" alt="">
                    </p>
                </div>
                <div class="d_inp div_mm_s">
                    <p class="p_word">
                        <span class="sp_000">密碼</span><input class="pa_tex" type="text" placeholder="請輸入您的密碼">
                        <img data-t="patex" class="img_show" src="images/my/login_eye.png" alt="">
                    </p>
                </div>
                <div class="d_inp div_pas">
                    <p class="pas_mm">记住密码<i class="i_icon"></i><span class="fr">忘记密码？</span></p>
                </div>
                <div class="fix_but">
                    <button class="but_sign">登錄</button>
                </div>
            </div>
            <div class="div_fix">
                <p class="ym_p"><span class="sp_xm">忘記密碼？</span><span id="bdiph" class="fr">綁定手機號</span></p>
                <p class="ym_p"><span class="sp_xm">忘记密码？</span><span class="fr">注册账号</span></p>
                <p class="sj_p"><span class="sp_sjh">手机号登录</span><span class="fr">注册账号</span></p>
            </div>
        </section> -->
    </div>
</body>
</html>