<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="nodisturb">
        <p class="p_iphoneX" style="background:#1A1B20;"></p>
        <!-- <p class="iphoneX_rgba" style="background: #000;"></p> -->
        <header class="head_vid margTopX" style="border-bottom: none;background:#1A1B20;">
            <div class="center">
                <p><i class="distFan" id="p_fan"></i><span id="spmynmz"></span></p>
                <a style="color: #fff;" id="ch_img_number" href="javascript:void(0)">2019/09/08</a>
                <a data-t="A_remover" class="A_remover" href="javascript:void(0)">删除</a>
                <!-- <img class="img_fx" src="images/dynamic/Fill 1.png" alt=""> -->
            </div>
        </header>
        <section class="sec_col" style="position: relative;"> 
            <div style="position:relative;background:#1A1B20;">
                <div id="" class="banner" style="width:100%;margin:0px auto;height: 100vh;">
                    <ul class="banner_nodis" id="ul_msg_cont">
                        <li data-v="" data-weburl="">
                            <img class="imgUrl" src="images/channel/dynam1.png">
                            <a data-t="videoPlay" class="A_play_ig" href="javascript:void(0)"><img style="width: 70px;" src="images/dynamic/dz.png" alt=""></a>
                            <div class="div_right">
                                <a href="javascript:void(0)" data-t="A_zan" class="p_img_rt">
                                    <img class="img_icn" src="images/dynamic/dian.png" alt=""><br/><span class="sp_tex">0K</span>
                                </a>
                                <a href="javascript:void(0)" data-t="A_ping" class="p_img_rt">
                                    <img class="img_icn" src="images/dynamic/xiaoxi-2.png" alt=""><br/><span class="sp_tex">0K</span>
                                </a>
                                <a href="javascript:void(0)" data-t="A_share" class="p_img_rt">
                                    <img class="img_icn" src="images/dynamic/shouyezhuanfa.png" alt=""><!-- <br/><span class="sp_tex">233K</span> -->
                                </a>
                                <a href="javascript:void(0)" data-t="A_video" class="p_img_rt">
                                    <img class="img_icn" src="images/dynamic/video.png" alt=""><br/><span class="sp_tex">发布</span>
                                </a>
                            </div>
                            <div class="div_boot_msg">
                                <p>昵称：昵称</p>
                                <p>一条个性的签名介绍</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="page_scroll" ><p class="page" id="distu_NavWarpObj"></p></div> -->
                <!-- <div id="back-white"></div> -->
            </div>
            <div class="div_share_dyna">
                <p id="p_nul_hide_shar"></p>
                <ul class="div_cont">
                    <li data-t="Lyqshar" data-v="user" class="w100">
                        <p class="p_tit_fn">邀请用户</p>
                        <p class="p_tex_fn">粉丝助力享高额收益</p>
                        <img src="images/room/xia.png" alt="">
                    </li>
                    <li data-t="Lyqshar" data-v="anchor" class="w100">
                        <p class="p_tit_fn">邀请主播</p>
                        <p class="p_tex_fn">入住成功享分成奖励</p>
                        <img src="images/room/xia.png" alt="">
                    </li>
                </ul>
            </div>
            <div class="div_inp_alt">
                <p class="p_pl_title"><span id="sp_pl_num">0条评论</span><a data-t="gbinp" href="javascript:void(0)"><img src="images/find/close.png" alt=""></a></p>
                <div id="div_pinglun">
                    <ul class="list_inp_div">
                        <!-- <li class="li_linkTop liOne">
                            <img class="img_icon_tou" src="images/my/log.png" alt="">
                        </li>
                        <li class="li_linkTop liTwo">
                            <p>拉姆</p>
                            <p><span class="span_msg">这个太阳镜有链接吗？</span>3小时前</p>
                        </li>
                        <li class="li_linkTop liThree">
                            <img class="zan_pl" src="images/dynamic/dianzopy4.png" alt="">
                            <p>233K</p>
                        </li> -->
                    </ul>
                </div>
                <div class="div_fixed_inpt">
                    <a class="a_w15" href="javascript:void(0)"><img class="img_toux" src="images/my/log.png" alt=""></a>
                    <p class="p_inp"><input id="inp_sub_tx" class="inp" type="text" placeholder="请输入内容"><a class="Afason" data-t="fason" href="javascript:void(0)">发送</a></p>
                </div>
            </div>
            <div id="hom_div_vid" class="video_gongy">
                <div class="div_video_bf">
                    <a data-t="vPause" href="javascript:void(0)"><i class="i_img_gb"></i></a>
                    <!-- x5-playsinline="" playsinline="" webkit-playsinline="" autoplay="autoplay" webkit-playsinline="false"-->
                    <div id="viewVideo" style="height: 100vh"><video id="video_play" class="video-tech" controls="controls" x5-playsinline="" x-webkit-airplay="" playsinline="" webkit-playsinline="" poster="images/channel/dynam1.png" src="video.mp4"></video></div>
                    <!-- <video id="video_play" class="video-tech" controls="controls" x5-playsinline="" playsinline="" webkit-playsinline="" x-webkit-airplay="allow" poster="images/home1.png" src=""></video> -->
                </div>
            </div>
            <section class="sec_userZl removAlt" >
                <div class="user_zl ">
                    <p class="p_kqzb center">溫馨提示</p>
                    <p id="renconten" class="ptsrz">要删除这条动态吗？</p>
                    <p id="pweirzen" class="p_butt">
                        <a data-t="shanchu" class="Aqx" href="javascript:void(0)"><span class="spqx">删除</span></a>
                        <a data-t="quxiao" class="Akb" href="javascript:void(0)"><span class="spkb">取消</span></a>
                    </p>
                </div>
            </section>
            <!-- <div style="position:relative;background:#000;">
                <div id="" class="banner" style="width:100%;margin:0px auto;height: 100vh;">
                    <ul class="banner_nodis" id="dists_bannerImgObj">
                        <li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/8986c62b7294405789007d225ce4e1f4.jpg"></a>                    </li><li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/81f66b762d12d0fd1ac86e775d7d6b3b.jpg"></a>                    </li><li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/be59502c0d2a96e5c4b64bb685eeff31.jpg"></a>                    </li><li data-v="" data-weburl="">                        <a><img src="http://38.27.103.12/uploads/image/20190603/fda9f15147517dfb6d0a28a417290ba5.jpg"></a>                    </li>
                    </ul>
                </div>
                <div class="page_scroll" ><p class="page" id="distu_NavWarpObj"></p></div>
                <div id="back-white"></div>
            </div> -->
        </section>
        <!-- 关注 -->
    </div>
</body>
</html>