<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="wrapper margTopX" id="publish">
        <p class="p_iphoneX" style="background:#1A1B20;"></p>
        <!-- <p class="iphoneX_rgba" style="background: #1A1B20;"></p> -->
        <header class="head_vid margTopX" style="background: #1A1B20;border-bottom:0;">
            <div class="center" style="color: #fff;">
                <p><i class="pubFan" id="p_fan"></i>发布动态</p>
                <a id="pubAvid" data-t="Asubfs" style="color: #fff;" class="A_next" href="javascript:void(0)">提交</a>
            </div>
        </header>
        <section class="sec_pubil">
            <textarea placeholder="说点什么吧" maxlength="100" id="text_gxqm" cols="30" rows="10"></textarea>
            <!-- <p class="prigh">(100字以内)</p> -->
            <div class="div_zp">
                <p class="p_zpsp">点击添加封面图片</p>
                <ul class="fl">
                    <!-- <li id="uploadImgBtn" class="liColo center"> -->
                    <li class="liColo center">
                        <img id="imgFild" style="max-height: 70px;" class="imgW11" src="images/register/Add.png" alt="">
                        <!-- <input class="uploadImg" type="file" name="file111" id="file111" multiple="multiple"> -->
                        <input id="inpfil" class="uploadImg" onchange="onpenImg(1)" type="file" accept="image/*">
                    </li>
                </ul>
                <ul id="li_usImg"></ul>
                <p class="p_zpsp" style="clear:both;">点击添加小视频(支持mp4、mob格式)</p>
                <ul class="fl">
                    <li id="uploadImgBtn" class="liColo center">
                        <img style="width: 11px;" src="images/register/Add.png" alt="">
                        <input class="uploadImg" type="button" name="file" id="file" accept="video/*" multiple="multiple">
                        <!-- <input id="fixiugvid" class="file" name="myfile" onchange="xiugladFile()" type="file" accept="video/*" mutiple="mutiple"> -->
                    </li>
                </ul>
                <video style="display: none;width: 100%;max-height: 480px;" poster controls="true" autoplay="autoplay"  id="viddt" src=""></video>
                <div id="content">
                    <p class="_p"><span class="sp_tim_dy" id="times"></span></p>
                    <!-- <div class="el-progress el-progress- -line" style="display: none;">
                        <div class="el-progress-bar">
                            <div class="el-progress-bar__outer" style="height: 6px;">
                                <div class="el-progress-bar__inner" style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        <div class="el-progress__text" style="font-size: 14.4px;">0%</div>
                    </div> -->
                </div>
                <p id="p_noneImg"></p>
            </div>
        </section>
    </div>
</body>
</html>