<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy margTopX" id="feedback">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="feedba_fan" id="p_fan"></i><li class="li_fs16" data-t="Liyjfk">意見反饋</li></p>
                <a class="A_next" href="javascript:void(0)"><li class="" data-t="Liwdfk" >記錄</li></a>
            </div>
        </header>
        <section class="feed_sec">
            <div class="div_feed">
                <div class="not_div d_yjfk">
                    <p class="p_fff">問題描述</p>
                    <textarea id="textar" maxlength="300" class="textarea col_pla" rows="5" placeholder="请将您遇到的问题告诉我们"></textarea>
                    <p class="p_fff">反饋圖片<span style="font-size: 1.2rem;">(選填,至多3張)</span></p>
                    <ul class="fl">
                        <li id="upImgBtn" class="liColo">
                            <img src="images/register/Add.png" alt="">
                                <input id="file" class="uploadImg" type="file" accept="image/*" name="file">
                        </li>
                    </ul>
                    <ul style="display: initial;" id="ul_Img_fk">
                    
                    </ul>
                    <p id="p_Img_fk"></p>
                    <div class="center">
                        <button id="butt_up">提交反饋</button>
                    </div>

                    <p class="p_fff">更多反饋方式</p>
                    <ol class="ol_time">
                        <li class="li_tim">
                            <input class="inp_fz" type="text" value="聯繫管理員">
                            <input  class="inp_fz input2" type="text" disabled="disabled" value="聯繫管理員">
                            <button  class="in_but">發送消息</button>
                        </li>
                        <li id="li_wx" class="li_tim">
                            <span>客服微信:</span>
                            <input id="fo2" class="inp_fz" type="text" value="tt_kefu0001"> 
                            <input id="fo2_wx" class="inp_fz input2" type="text" disabled="disabled" value="tt_kefu0001">
                            <button id="btn_iph" data-clipboard-target="#fo2" aria-label="複製成功！" class="in_but">複製微信號</button>
                        </li>
                        <li id="li_qq" class="li_tim">
                            <span>客服QQ:</span>
                            <input id="fo" class="inp_fz" type="text" value="3349938414">
                            <input id="fo_qq" class="inp_fz input2" type="text" disabled="disabled" value="3349938414">
                            <button id="btn_foo" data-clipboard-target="#fo" aria-label="複製成功！" class="in_but">複製QQ號</button>
                        </li>
                         <li id="li_potato" class="li_tim">
                            <span>Potato:</span>
                            <input id="pot" class="inp_fz" type="text" value="3349938414"> 
                            <input id="pot_fz" class="inp_fz input2" type="text" disabled="disabled" value="3349938414">
                            <button id="btn_pot" data-clipboard-target="#pot" aria-label="複製成功！" class="in_but">複製號碼</button>
                        </li>
                        <li id="li_tel" class="li_tim">
                            <span>客服電話:</span>
                            <input id="in_tel" class="inp_fz" type="text" disabled="disabled" value="4008550921"> 
                            <button class="in_but"><a id="a_tel" class="but_a" href="tel:4008550921">撥打號碼</a></button>
                        </li>
                    </ol>
                    <!-- <ol class="ol_time">
                        <li id="li_qq" class="li_tim">
                            <img class="im_icon" src="images/me/qqs.png" alt="">
                            <input id="fo" class="inp_fz" type="text" value="3349938414">
                            <input id="fo_qq" class="inp_fz input2" type="text" disabled="disabled" value="3349938414">
                            <button id="btn_foo" data-clipboard-target="#fo" aria-label="複製成功！" class="in_but">複製</button>
                        </li>
                        <li id="li_wx" class="li_tim">
                            <img class="im_icon" src="images/me/wei.png" alt="">
                            <input id="fo2" class="inp_fz" type="text" value="tt_kefu0001"> 
                            <input id="fo2_wx" class="inp_fz input2" type="text" disabled="disabled" value="tt_kefu0001">
                            <button id="btn_iph" data-clipboard-target="#fo2" aria-label="複製成功！" class="in_but">複製</button>
                        </li>
                        <li id="li_tel" class="li_tim">
                            <img class="im_icon" src="images/me/tels.png" alt="">
                            <input id="in_tel" class="inp_fz" type="text" disabled="disabled" value="4008550921"> 
                            <button class="in_but"><a id="a_tel" class="but_a" href="tel:4008550921">撥打</a></button>
                        </li>
                        <li id="li_potato" class="li_tim">
                            <img class="im_icon" src="images/me/pot.png" alt="">
                            <input id="pot" class="inp_fz" type="text" value="3349938414"> 
                            <input id="pot_fz" class="inp_fz input2" type="text" disabled="disabled" value="3349938414">
                            <button id="btn_pot" data-clipboard-target="#pot" aria-label="複製成功！" class="in_but">複製</button>
                        </li>
                    </ol> -->
                </div>
            </div>
        </section>
    </div>
</body>
</html>