<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="modTp">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="moditpFan" id="p_fan"></i>修改登錄信息</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_setup">
            <ul class="ul_set">
                <li data-t="modypad" class="w100 setflex">
                    <p class="pFl">修改密碼</p>
                    <p class="pFl prigh"><i class="iRight"></i></p>
                </li>
                <li data-t="modytal" class="w100 setflex">
                    <p class="pFl">更換手機號</p>
                    <p class="pFl prigh"><i class="iRight"></i></p>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>