<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
</head>
<body>
    <div class="margTopX" id="myfollow">
        <header class="head_vid margTopX">
            <div class="center">
                <p><i class="myfollFan" id="p_fan"></i>我的关注</p>
                <!-- <a class="aAbsolute" href="javascript:void(0)"><img class="img_rela" src="images/room/liwu-3.png" alt=""><span>关注</span></a> -->
            </div>
        </header>
        <section class="sec_myfollow">
            <div class="myfol_tit">
                <ul>
                    <li data-t="lVlLive" data-l="lvl" class="follow_ti w50 center activ"><span>关注</span></li>
                    <li data-t="lVlLive" data-l="lVN" class="follow_ti w50 center"><span>粉丝</span></li>
                </ul>
            </div>
            <div id="div_fens" class="div_live sec_liv" style="display: none;">
                <!-- <div class="div_lst">
                    <ul>
                        <li class="liLive liw18">
                            <img class="w100 rad5" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        </li>
                        <li class="liLive liw65">
                            <p class="liveName">朱宸慧</p>
                            <p class="pColo">个性签名</p>
                            <p class="pColo hid">最近上线时间：10分钟前</p>
                        </li>
                        <li class="liLive liw17"><span class="sgz">+关注</span></li>
                    </ul>
                </div> -->
            </div>
            <div id="div_folltxh" class="livegz sec_liv" >
                <!-- <div class="div_lst">
                    <ul>
                        <li class="liLive liw18">
                            <img class="w100 rad5" src="http://img0.imgtn.bdimg.com/it/u=3293099503,606929711&fm=26&gp=0.jpg" alt="">
                        </li>
                        <li class="liLive liw65">
                            <p class="liveName">朱宸慧</p>
                            <p class="pColo">注册 2019/12/12</p>
                            <p class="pColo hid">最近上线时间：10分钟前</p>
                        </li>
                        <li class="liLive liw17"><span class="sgz sygz">已关注</span></li>
                    </ul>
                </div> -->
            </div>
            <div id="myLVN_wei" class="img_nulgon center" style="display: block;">
                <img class="img_wid" src="images/my/kong-2.png" alt="">
                <p class="center">空空如也</p>
            </div>
        </section>
        <section class="sec_userZl follouser" style="display: none;">
            <div class="user_zl">
                <ul id="uesrheds" class="overFlex backcol">
                    <li class="overlex fsz1"><span class="icspan"></span>在线</li>
                    <li class="overlex">
                        <img class="imtoux" src="images/" alt="">
                    </li>
                    <li data-t="gbuser" class="overlex ovright"><a href="javascript:void(0)"><img style="width: 40px;" src="images/register/gb.png" alt=""></a></li>
                </ul>
                <p id="uesygzs" class="p_gzcent center"><span class="guzhu gree ">已关注</span><span class="fr">屏蔽</span></p>
                <div id="uesethres">
                    <ul class="overFlex">
                        <li class="overlex">用户昵称：</li>
                        <li class="overlex ovright"><span id="nickname">暱稱</span><img src="" alt=""></li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">贡献值：</li>
                        <li class="overlex ovright">0000</li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">在线时段：</li>
                        <li class="overlex ovright">22:00-23:00</li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">城市：</li>
                        <li class="overlex ovright">北京</li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">感情状态：</li>
                        <li class="overlex ovright">单身</li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">参与直播次数：</li>
                        <li class="overlex ovright">0</li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">1V1视频次数：</li>
                        <li class="overlex ovright">0</li>
                    </ul>
                    <ul class="overFlex">
                        <li class="overlex">送礼：</li>
                        <li class="overlex ovright">0件/00海珠</li>
                    </ul>
                </div>
                <ul class="ulfxid ulfxids">
                    <li data-t="goimlt" class="center w50"><span class="spim"><img class="bor0" src="images/room/bianji.png" alt="">去聊天</span></li>
                    <li data-t="gozbsp" class="center w50"><span class="spco"><img class="bor0" src="images/room/shipinbofang.png" alt="">跟Ta视频</span></li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>