<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper hed_gy" id="notice">
        <header class="head_set">
            <div class="div_hed"><p><i class="not_fan" id="p_fan"></i>通知</p></div>
        </header>
        <section class="notice_sec">
            <ul class="not_ul">
                <li class="active"><span>公告</span></li>
                <li><span>消息</span></li>
            </ul>
            <div class="div_list">
                <div class="not_div">
                    <ul class="gg_ul">
                        <li data-t="detai" data-v="1">
                            <img class="gg_img" src="images/my/user_notice.png" alt="">
                            <p class="p_b_tit"><b>無法播放下載</b><span class="fr">2018-06-05</span></p>
                            <p class="gg_centent">尊敬的用戶您好：如果您在使用黃瓜視頻的時候無法下載等問題</p>
                        </li>
                    </ul>
                </div>
                <div class="not_div">
                    <ul class="gg_ul">
                        <li>
                            <img class="gg_img" src="images/my/user_notice.png" alt="">
                            <p class="p_b_tit"><b>無法播放</b><span class="fr">2018-06-05</span></p>
                            <p class="gg_centent">尊敬的用戶您好：如果您在使用黃瓜視頻的時候無法下載等問題</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>